.header {
    background-image: url(../images/header_background_img.jpeg) ;
}
.header__about_us {
    display: none;
}
.header__about_us_contacts {
}
.header__navigation {
    display: none;
}
.header__navigation_img {
}
.header__social_media {
}
.header__social_media_img {
}
.header__banner {
    padding: 100px 0 90px;
}
.header__banner_name {
    font-size: 16px;
}
.header__banner_slogan {
    margin-top: 20px;
    font-size: 56px;
    font-weight: 700;
}
.header__banner_text {
    font-size: 20px;
    margin-top: 35px;
}
.header__contact {
}
.header__contact_button {
    padding: 16px 28px;
    border-radius: 25px;
}
.header__contact_phone {
    padding: 7.5px 0;
}
.header__contact_img {
    font-size: 17px;
}
@media (min-width:992px) {
    .header__about_us {
        display: flex;
        justify-content: space-between;
    }
    .header__navigation {
    display: flex;
    justify-content: space-between;
}
}
